.loginPage {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #134a5b, #86cfe8);
}
.loginDiv {
    background: linear-gradient(to right, #0f333e, #2fa8d1);
    color: #ecf0f1; 
    padding: 40px;
    border-radius: 5px;
}

.loginDiv > input {
    color: #3c5b6f; 
    height: 35px;
    border-radius: 3px;
}
.loginDiv > div {
    margin: 10px 0px;
    font-size: 14px;
}
.loginBtn {
    text-align: center;
}
.loginBtn > button {
    background: linear-gradient(to right, #041216, #5dc3e5);
    border: none;
    font-weight: 500;
    border-radius: 2px;
    letter-spacing: 2px;
    padding: 10px 20px;
    color: #ecf0f1;
}
.brand {
    font-size: 40px;
    letter-spacing: 2px;
    font-family: 'Segoe UI', Tahoma;
}
.brandDown {
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
}
