.chatPage {
    height: 100vh;
    overflow: hidden;
}
.switch {
    height: 50px;
    width: 100%;
}
.switch > div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.active {
    background-color: rgb(103, 107, 108) ;
    color: white;
}

.friends {
    height: 93vh;
    border: 1px solid gray;
    /* overflow: auto;  */
}

.friends::-webkit-scrollbar {
    width: 12px; 
}

.friends::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

.friends::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 6px; 
}

.friends::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.friendsDiv {
    position: relative;
}
