.chatPage {
    height: 100vh;
    overflow: hidden;
}
.sideBar {
    width: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(14, 81, 91);
    height: 100vh;
}
.sideBar > div {
    margin-top: 10px;
    margin-bottom: 15px;
}
.switch {
    height: 50px; 
}
.switch > div {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.logOut {
    cursor: pointer;
}
.active {
    background-color: rgb(103, 107, 108) ;
    color: white;
}

.friends {
    height: 93vh;
    border: 1px solid gray;
    /* overflow: auto;  */
}

.friends::-webkit-scrollbar {
    width: 12px; 
}

.friends::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

.friends::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 6px; 
}

.friends::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.friendsDiv {
    position: relative;
}
