.modal-content {
    color: white;
    background: linear-gradient(to right, #184556, #60b7d4);
}
.closeBtn {
    background: linear-gradient(to right, #0c2c37, #3e9fbf);
}
.addOne {
    background: linear-gradient(to right, #113643, #2e839f);
}
.addOne:hover {
    background-color: black;
}
.frndsList {
    margin: 10px 0px;
    height: 200px;
    overflow: auto;
}
.search {
    text-align: center;
    width: 250px;
}
.checkboxDiv {
    margin-bottom: 5px;
    text-align: center;
}
.checkboxDiv > span {
    margin-left: 15px;
    font-size: 20px;
}
.frndsList::-webkit-scrollbar {
    width: 12px; 
}

.frndsList::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

.frndsList::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 6px; 
}

.frndsList::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
