.addFriend {
    position: absolute;
    bottom: 3%;
    right: 3%;
}
.addFriend > div {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 25px;
    font-family: sans-serif;
    background-color: rgb(29, 122, 143);
    width: 30px;
    height: 30px;
    border-radius: 50px;
    cursor: pointer;
}
