.singleFrnd, .inactive {
    margin: 0;
    padding: 0;
    color: white;

    display: flex;
    align-items: center;
    justify-content: start;

    border-bottom: 1px solid rgb(27, 90, 101);
    height: 60px;
    text-align: center;
    cursor: pointer;
    background: linear-gradient(to right, #184553, #62bedd);
}
.name {
    max-width: 120px;
    overflow: hidden;
    padding-left: 15px;
}
.inactive {
    color: rgb(81, 81, 81);
    background: linear-gradient(to right, #5493a6, #d1f3fe);
}