.newMsg {
    display: flex;
    align-items: center;
    height: 50px;
    text-align: center;
    background: linear-gradient(to right, #225e70, #7bc2d6);
}
.inputMsg {
  padding-left: 20px;
}
.inputMsg > input {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    border: none;
    border-radius: 20px;
}
.sendMsg > button {
  border: none;
  color: white;
  font-size: 25px;
  background:  linear-gradient(to right, #1b4957, #53a2b8);
  border-radius: 50px;
  padding: 2px 13px;
}
