.ownUser {
    display: flex;
    justify-content: end;
}
.otherUser {
    display: flex;
}
.msg {
    margin: 15px 0px;
}
.msgBox {
    font-size: 18px;
    padding: 5px 20px;
    color: white;
    background-color: rgb(52, 145, 165);
    border: 1px solid rgb(94, 94, 94);
    border-radius: 20px;

    position: relative;

}