.ownUser {
    display: flex;
    justify-content: end;
}
.otherUser {
    display: flex;
}
.msg {
    margin: 15px 0px;
}
.msgBox {
    font-size: 18px;
    padding: 5px 20px;
    color: white;
    border-radius: 20px;
    position: relative;
}
.colorBox {
    background-color: rgb(24, 106, 124);
}
.otherColorBox {
    background-color: rgb(37, 156, 183);
}