.profilePic {
    background: linear-gradient(to right, #1e5465, #63d8e7);
    height: 30px;
    width: 30px;
    overflow: hidden;

    margin-left: 15px;
    border-radius: 50px;
}
.profilePic > img {
    width: 100%;
    padding: 100%;
}
.inChatProfilePic {
    position: absolute;
    right: 0%;
    top: -30%;

    overflow: hidden;
    background: linear-gradient(to right, #1f6074, #83dfeb);
    height: 20px;
    width: 20px;

    border-radius: 50px;
}
.inChatProfilePic > img {
    width: 100%;
    padding: 100%;
}
.other {
    left: 0;
}